@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');
@import "tailwindcss";
@import './base.css';
@import './shared.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  max-width: 1280px;
  min-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover-bg);
  }
}

button,
input,
textarea,
select {
  font: inherit;
}
